.panel {
    border: 1px solid #4D9CF8;
}

.glary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
    border: 1px solid #cfcfcf;
    top: 0;
    left: 0;
    z-index: 1;
}

@media (max-width: 768px) {

    .glary {
        grid-template-columns: 1fr;
    }
}

.send-button2 {
    padding: 8px 16px;
    background-color: #181818;
    color: #4D9CF8;
    border: 1px solid #4D9CF8;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.send-button2:hover {
    text-decoration: none;
    background-color: rgba(77, 156, 248, 0.08);
    border: 1px solid rgb(77, 156, 248);
}

.toBeShared {
    background-color: #181818;
    position: relative;
}

.bubbleInput {
    flex-grow: 1;
    padding: 8px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 75%;
}

.bubblego {
    padding: 8px 16px;
    background-color: #181818;
    color: #4D9CF8;
    border: 1px solid #4D9CF8;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin: 10px;
}

.makecanvas {
    padding: 8px 16px;
    background-color: #181818;
    color: #4D9CF8;
    border: 1px solid #4D9CF8;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 10px;
    width: 95%;
}